@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #4c6667;
}

body {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #000000;
}