@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #4c6667;
}

body {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    @apply bg-gray-900;
}
.button-primary {
    @apply text-gray-900 font-inter bg-gray-200 font-medium rounded-2xl text-sm px-4 py-2 mr-2
}
.button-secondairy {
    @apply text-gray-900 font-inter bg-gray-400 font-medium rounded-2xl text-sm px-4 py-2 mr-2
}