<aside class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0">
    <div class="h-full flex flex-col px-3 overflow-y-auto bg-gray-200 py-10 space-y-7 ">
        <a href="https://flowbite.com/" class="flex items-center flex-col space-y-4 pl-2.5 mb-5x">
            <slot name="svc-image"></slot>
            <span
                class=" side-bar-text self-center text-xl text-gray-900 font-semibold whitespace-nowrap ">{{title}}</span>
        </a>
        <hr class="h-0.5 border-t-0 bg-gray-400 opacity-50" />
        <ul class="flex flex-col flex-grow space-y-2 side-bar-text">
            <slot name="action-btn"></slot>
        </ul>
        <hr class="h-0.5 border-t-0 bg-gray-400 opacity-50" />
        <div class="flex flex-col ">
            <NullCloudTitle :dark="true" fixed></NullCloudTitle>
        </div>
    </div>
</aside>