
    <div class="flex flex-col bg-white mx-auto rounded-2xl max-w-screen-lg w-full p-4 space-y-4">
        <div class="flex space-x-4 ">
            <div class="flex flex-col flex-grow">
                <h1 class="header !mx-0">
                    {{tableTitle}}
                </h1>
                <span class="small-text text-gray-900">
                    {{tableSubtitle}}
                </span>
            </div>
            <div class="flex space-x-4">
                <slot name="actions-btn" />
            </div>
        </div>
        <div>
            <table class="w-full text-sm text-left text-gray-900">
                <thead class="text-xs text-gray-900 uppercase bg-gray-50 ">
                    <tr>
                        <th scope="col" class="p-4">
                            <div class="flex  justify-center">
                                <input type="checkbox" @change="allChecked($event.target.checked)"
                                    class="w-4 h-4 text-blue-600 bg-gray-200 focus:bg-blue-600 accent-blue-600  rounded-lg focus:ring-blue-500 ">
                            </div>
                        </th>
                        <th v-for="column in columns" :key="column.propertyKey">
                            <div class="flex  justify-center">
                                {{ column.label }}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody v-if="dataList.length">
                    <tr v-for="row in dataList" :key="row.id" tabindex="0"
                        class="bg-white border-b  border-gray-700 hover:bg-gray-200 ">
                        <td class="w-4 p-4">
                            <div class="flex  justify-center">
                                <input type="checkbox" @change="elementChecked($event.target.checked,row)"
                                    :checked="isChecked(row.id)"
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            </div>
                        </td>
                        <td v-for="column in columns" :key="column.propertyKey" class="w-4 p-4 mx-auto">
                            <div class="flex  justify-center">
                                <template v-if="column.type=='progress'">
                                    <span :class="{
                                        'bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full':(getRowValue(row, column.propertyKey,
                                    column.getValueFunction)=='completed'),
                                    'bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full':(getRowValue(row, column.propertyKey,
                                    column.getValueFunction)=='In Progress'),
                                        'text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full bg-red-100 text-red-800 ':(getRowValue(row, column.propertyKey,
                                    column.getValueFunction)=='cancelled')
                                    }">
                                        {{ getRowValue(row, column.propertyKey,
                                        column.getValueFunction) }}
                                    </span>
                                </template>
                                <template v-else-if="column.type=='date'">
                                    <span class="text-sm not-italic font-normal leading-5 font-inter text-gray-500">
                                        {{ getRowValue(row, column.propertyKey,
                                        column.getValueFunction) }}
                                    </span>
                                </template>
                                <template v-else>
                                    {{ getRowValue(row, column.propertyKey,
                                    column.getValueFunction) }}
                                </template>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody v-if="!dataList?.length">
                    <tr>
                        <td colspan="999999">
                            <div class="flex justify-center items-center flex-col h-64">
                                <img src="@/assets/img/no-data.jpg" alt="" width="200" height="200" />
                                <span class="text-xs uppercase text-gray-600 font-bold">Nothing to show</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <PaginatorComponent :dataList="data" :perPage="perPage" v-model:page="page"
                v-model:paginatedData="dataList" />
        </div>
    </div>
