<section class=" h-[100vh] bg-hero-bg bg-contain bg-center bg-no-repeat">
    <div class="pt-16  pl-4 sm:pl-40  max-w-sm lg:max-w-3xl gap-10 flex flex-col">
        <NullCloudTitle  ></NullCloudTitle>
        <div>
            <p class="text-gray-200 not-italic font-bold  text-base lg:text-lg leading-5 lg:leading-7 font-roboto">
                Are you a budding developer, ready to soar into the world of cloud computing but don't know where to
                start? Look no
                further than Null Cloud, your trusty sidekick in the realm of deployment and cloud management.
            </p>
        </div>
        <div class="flex flex-row-reverse">
            <a href="#" class="button-primary flex items-center gap-2">Start here
                <ChevronDoubleRightIcon class="w-4 h-4" />
            </a>
        </div>
    </div>
</section>