#hero {
    
}

/* make footer element appear at bottom of webpage */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: black;
  text-align: center;
}