<section class=" h-[100vh] bg-hero-bg bg-contain bg-center bg-no-repeat">
    <Header></Header>
    <div class="pt-16 pl-40 max-w-3xl gap-10 flex flex-col">
        <div class="flex items-center gap-8">
            <h1 class="flex gap-2">
                <span class="text-3xl font-bold font-inter text-gray-400 underline uppercase">Null</span>
                <span class=" bg-gray-200 h-fit font-bold text-3xl font-inter text text-gray-400 uppercase">Cloud</span>
            </h1>
            <img src="../../../assets/svg/star.svg" />
        </div>
        <div>
            <p class="text-gray-200 not-italic font-bold text-lg leading-7 font-roboto">
                Are you a budding developer, ready to soar into the world of cloud computing but don't know where to
                start? Look no
                further than Null Cloud, your trusty sidekick in the realm of deployment and cloud management.
            </p>
        </div>
        <div class="flex flex-row-reverse">
            <a href="#" class="button-primary flex items-center gap-2">Start here
                <ChevronDoubleRightIcon class="w-4 h-4" />
            </a>
        </div>
    </div>
</section>