name: build-containers

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push API
        uses: docker/build-push-action@v4
        with:
          context: ./api/
          push: true
          tags: nullchannel/eddington-api:${{ github.sha }}      
      -
        name: Set env
        run: |
          echo "SHA=${{ secrets.FRONTEND }}" >> ./ui/.env
      -
        name: Build and push Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./ui/
          push: true
          tags: nullchannel/eddington-ui:${{ github.sha }}
      -
        name: Build and push container runner
        uses: docker/build-push-action@v4
        with:
          context: ./application/container-runner/
          push: true
          tags: nullchannel/eddington-container-runner:${{ github.sha }}
